// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary-color: #176585;
$secondary-color: #27b1bf;
$success-color: #c2e4cb;
$warning-color: #f7f3cf;
$info-color: #36cecc;
